.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (max-width: 478px) {
        min-width: 90vw;
        padding: 40px 15px 20px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 528px;
    }
    &__text {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__close-btn:focus,
    &__close-btn:hover {
        fill: var(--accent-color);
    }
    &__btn {
        margin: 0 auto;
    }
    &__modal-field {
        margin-bottom: 10px;
    }
}

.modal-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__wrap {
        position: relative;
    }
    &__label {
        margin-bottom: 4px;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__input {
        padding: 12px 12px 12px 42px;
    }
    &__comment {
        padding: 12px 16px;
        resize: none;
        width: 100%;
        min-height: 120px;
    }
    &__comment::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.input {
    &__icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.input:focus + .input__icon {
    fill: var(--accent-color);
}

.modal-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
    &__label {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
        cursor: pointer;
    }
    &__item {
        display: flex;

        justify-content: center;
        align-items: center;
        margin-right: 8px;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 3px;
        fill: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link {
        margin-left: 4px;
        font-weight: 400;
        font-size: 12px;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }

        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: var(--accent-color);
    }
}

.modal-checkbox__input:checked + .modal-checkbox__label .modal-checkbox__item {
    background-color: var(--accent-color);
    border: 0;
    fill: #ffffff;
}
